

<article class="thumb-container">

	<a class="thumb-link" href="/">
		<span class="img-rounded thumb-img" style="background-image: url(<%= thumb.photo.url(:thumb) %>)">&nbsp;</span>

		<p><%= thumb.title %></p>
	</a>

</article>
